h1{
	color: deeppink;
	text-align: center;
	border: 2px solid;
	margin-top: 25px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
	background-color: yellow;
}

.mydesign{
	color: green;
	text-align: center;
	border: 5px dotted;
	font-size: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 50px;
	padding-right: 50px;
}









